<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>If..Unless</title>
</head>
<body>
 <table>
   <thead>
    <th>
      <td>
        Name
      </td>
      <td>
        Email
      </td>
      <td>
        Address
      </td>
      <td>
        Actions
      </td>
    </th>
   </thead>
   <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.getName()}"></td>
      <td th:text="${user.getEmail()}"></td>
      <td th:text="${user.getAddress()}"></td>
      <td>
        <a th:if="${user.getRole() == 'ADMIN'}" th:href="@{/iterating}">Edit</a>
        <a th:unless="${user.getRole() == 'ADMIN'}" th:href="@{/link-expression}">View</a>
      </td>
    </tr>
   </tbody>
 </table>

</body>
</html>